<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a>
    <a href="/student">Student</a>
    <br><br>
    <h1>Table Student</h1>
    <h2><a href="/student/add">Add Student</a></h2>

    <br><br>
    <table border="2">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th colspan="2">Action</th>
      </tr>
      <% dtStudent.forEach(data => { %>
        <tr>
          <th><%= data.id %></th>
          <td><%= data.first_name %></td>
          <td><%= data.last_name %></td>
          <td><%= data.email %></td>
          <td>
            <a href="/student/edit/<%= data.id %>">Edit</a>
          </td>
          <td>
            <a href="/student/delete/<%= data.id %>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
