<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%- include partial/cdnBootsrap %>
    <%- include partial/style %>
  </head>
  <body>
    <div class="container">
      <div class="row">

          <h1>Tabel Subject</h1>
          <%- include partial/link-menu %>
          <a href="/subject/add"><button type="button" name="button" class="btn btn-danger">subject</button></a><br><br>
          <table class="table table-striped table-hover">
            <tr  class="success">
              <th>No</th>
              <th>ID</th>
              <th>Subject Name</th>
              <th>Teachers</th>
              <th>Action</th>
            </tr>
            <% let count = 0; %>
            <% dtSubject.forEach(data =>{ %>
              <% count++ %>
              <tr>
                <td><%= count %></td>
                <th><%= data.id %></th>
                <th><%= data.subject_name %></th>
                <!-- <% if( data.Teachers.length != 0 ){ %> -->
                  <td>
                    <% for(var i=0; i< data.Teachers.length; i++ ){ %>
                      <%= i+1 %>.
                      <%=  data.Teachers[i].first_name %> <%= data.Teachers[i].last_name %><br>
                    <% } %>
                  </td>
                <!-- <% } %> -->
                <td>
                  <a href="/subject/<%= data.id %>/enrolledstudents" class="glyphicon glyphicon-retweet"> enrolledstudents</a>
                </td>
              </tr>
            <% }) %>
          </table>
      </div>
    </div>
  </body>
</html>
